In [1]:
import numpy as np
import pandas as pd
from faker.providers.person.en import Provider
from faker import Faker
import random
from datetime import date 
fake = Faker()

In [4]:
input_num = int(input('Enter the number of Entries: '))
data =[]
for i in range (input_num):
    #print (i)
    a = fake.name()
    #df = pd.DataFrame(a)
    email_data = ["@gmail.com", "@yahoo.com", "@hotmail.com", "@aol.com", "@outlook.com"]
    #using names to make email address realistic
    e = a.replace(" ", "").lower() + random.choice(email_data)
    addr = fake.address()
    phno = fake.phone_number()
    ###print(phno)
    
    dob = fake.date_of_birth(tzinfo=None, minimum_age=18, maximum_age=100)
    ###print(dob)
    today = date.today()
    #calculating age of the person
    age = today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day))
    ###print(age)
    
    #based on age calculating number of kids
    if age < 18:
        kids = 0
    elif age < 30  and age > 18:
        kids = random.randrange(0,2,1)
    elif age > 30 and age < 40:
        kids = random.randrange(0,4,1)
    else : 
        kids = random.randrange(0,5,1)
    
    ###print("kids :", kids)   
    
    
    #MEDIAN HOUSE HOLD INCOME IS $64,000

    income = random.randrange(63000 , 380000 ,9000)
    ###print("$",income)

    if income > 150000 and age > 25:
        house = "own"
    else:
        house = "rent"
    
    ###print ("house : " , house)   
    #speeding ticket 

    s_ticket = random.randrange(0 , 10 , 1)
    ###print("speeding Ticket :",s_ticket)

    data1 = [a,e,addr,phno,age,kids,income,house,s_ticket]
    data.append(data1)
    df = pd.DataFrame(data, columns=['Name','Email','Address','Phone No','Age','kids','Income','Rent/own','Speeding tickets'])
    
df

Enter the number of Entries: 100

,Name,Email,Address,Phone No,Age,kids,Income,Rent/own,Speeding tickets
0,Shawn Davis,shawndavis@aol.com,"0730 Lang Tunnel Suite 258\nMorganberg, CA 19335",644-080-8233x2282,29,1,342000,own,2
1,Henry Cohen,henrycohen@yahoo.com,"11353 Andrea Center Apt. 825\nLake Tylerton, S...",001-897-512-1458x008,19,1,324000,rent,1
2,Jerry Bartlett,jerrybartlett@aol.com,"59480 Tonya Flats\nJohnsonside, WI 92528",502-905-2019x1701,58,1,171000,own,2
3,Shawn Huang,shawnhuang@aol.com,"13195 Willie Well\nGreentown, NJ 88579",001-531-270-4773,96,4,306000,own,9
4,Kelly Johnson,kellyjohnson@outlook.com,"2978 Martin Overpass\nParkerville, WA 57133",860-027-8661x6477,65,2,63000,rent,8
...,...,...,...,...,...,...,...,...,...
95,Joyce Jones,joycejones@yahoo.com,"7037 Garza Shoals Apt. 437\nLake Adamland, VA ...",500-103-5975x948,80,1,333000,own,3
96,Nathan Jackson,nathanjackson@aol.com,"276 John Cove\nEast Diane, MO 10741",220-462-4970,78,4,234000,own,0
97,Abigail Johnson,abigailjohnson@aol.com,"9505 Joseph Road Suite 583\nNew John, IL 55033",(612)541-5209,30,0,369000,own,8
98,Dustin Young,dustinyoung@gmail.com,"0104 Amy Isle\nGarciaside, TN 81627",+1-172-761-3383,32,0,225000,own,9
99,Darrell Castaneda,darrellcastaneda@gmail.com,"9195 Murphy Shoal Apt. 598\nEast Marissa, NY 7...",(588)775-0139,69,3,90000,rent,3

In [5]:
df.to_csv('my_data.csv')